@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Herr+Von+Muellerhoff&display=swap');

@import "./variables.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
    color: $text-color-primary;
    line-height: 1.2;
    font-family: 'Cabin', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $text-color-primary;
}

a:hover, a:focus {
    opacity: 0.8;
    color: $text-color-primary;
    cursor: pointer;
}

button{
    outline: none;
    background-color: transparent;
}
button:hover{
    outline: none;
    background-color: transparent;
}
.App {
    background-color: $background-primary;
    width: 100%;
    height: 100vh;
    outline: hidden;
}


::-webkit-scrollbar {
    height: 5px;
    display: none;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background: rgba($text-color-primary, 0.5);
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient($text-color-primary, $text-color-clair);
    border-radius: 2px;
}