/* color */
$background-primary: #ffffff;
$background-secondary:#ffffbb;
$background-button: #fbcfb2;
$text-color-primary: #52270a;
$text-color-clair:rgb(250, 250, 43);
$text-color-hover: #e47a34;
/* margin */
$margin-bottom-small: 2rem;

/* navbar */
$nav-toggle-bar-height: 0.2rem;
$nav-toggle-bar-width: 2.1rem;
$nav-toggle-width: 15rem;
$nav-bar-height: 6rem;

/* footer */
$footer-height:4rem;

$size-image: 16.5rem;