@import "../variables.scss";

.menu-in-nav {
    .menu-list {
        background: $background-secondary;
        color: $text-color-primary;
        cursor: pointer;
        height: 100vh;
        left: -$nav-toggle-width;
        padding: 6rem 2rem 2rem 2rem;
        position: fixed;
        top: 0;
        transition: left 0.5s;
        width: $nav-toggle-width;
        z-index: 90;

        &.expanded {
            left: 0;
        }

        ul {
            list-style: none;
            margin: auto 0;
            padding: 0;
            display: flex;
            // justify-content: space-between;
            flex-direction: column;
            height: 100%;

            & > li {
                margin-bottom: 1.5rem;
            }

            .menu > ul {
                padding-left: 1rem;
                width: 100%;
                h2 {
                    font-size: 1.5rem;
                    color: inherit;
                }
                li {
                    margin-bottom: 1rem;
                }
                li:first-child {
                    margin-top: 1rem;
                }
                li .category{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .left-menu-list {
        background-color: rgba($background-secondary, 0.5);
        left: -100vw;
        position: fixed;
        top: 0;
        transition: left 0.5s;
        height: 100vh;
        width: calc(100vw - #{$nav-toggle-width});
        width: -webkit-calc(100vw - #{$nav-toggle-width});
        width: -moz-calc(100vw - #{$nav-toggle-width});

        &.expanded {
            left: $nav-toggle-width;
        }
    }
}
