@import "../variables.scss";
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $nav-bar-height;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: $background-primary;


    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 2.5rem;
            font-family: 'Herr Von Muellerhoff', cursive;
            span{
                font-size: 2.7rem;
            }
        }
        p {
            font-size: 1.05rem;
            line-height: 0.5!important;
        }
    }
}
